* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register, .login {
  max-width: 680px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.3);
}

.register input {
  margin: 10px auto;
  padding: 5px;
}
 input[type="submit"] {
  border-radius: 5px;
  border:none;
  padding: 10px 15px;
}
 input[type="submit"]:hover {
  background-color: cadetblue;
}
 button {
  padding: 5px;
  border-radius: 3px;
  border: none;
}
 button:hover {
  background-color: cadetblue;
}
.register select {
  padding: 5px;
}
.login input {
  margin: 10px auto;
  padding: 5px;
}
input:first-of-type {
  position: relative;
  left: 10px;
}